<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="../" class="orange-text text-accent-4 brand-logo">TradMania</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/projet">Espace porteur</a></li>
      <li><a href="/traducteur">Espace Traducteur</a></li>
      <li><a href='/dashboard'><i class="material-icons">dashboard</i></a></li>
      <li><a href='/uprojet'><i class="material-icons">add_circle</i></a></li>
      <li><a class='dropdown-button' data-beloworigin="true" href='#' data-activates='dropdown1'><i class="material-icons">account_circle</i></a></li>

      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="orange-text" href="/profile">Profile</a></li>
        <li><a class="orange-text" href="/deco">Deconnexion</a></li>
      </ul>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/projet">Espace porteur</a></li>
      <li><a href="/traducteur">Espace Traducteur</a></li>
      <br> 
      <li><a href="/profile">Profile</a></li>
      <li><a href="/deco">Deconnexion</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>